{% extends 'base.html' %}

{% load i18n %}

{% block title %}
  {% trans "Painel de Controle" %}
{% endblock %}

{% block header %}
<div id="head" class="secondary" style=></div>
{% endblock %}

{% block body %}
<div class="container">

  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">{% trans "Início" %}</a></li>
    <li class="active">{% trans "Painel de Controle" %}</li>
  </ol>

  <div class="row">
    <article class="col-xs-12 maincontent">
      <header class="page-header">
        <h1 class="page-title">{% trans "Painel de Controle" %}</h1>
      </header>

      <div class="container">
        <h2 class="text-center thin">{% trans "Escolha uma opção" %}</h2>

        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-university sr-icons"></a></i>
              <h3><a href="{% url 'campuses:index' %}">{% trans "Câmpus da Universidade" %}</a></h3>
              <p>{% trans "Todos os câmpus com seus respectivos edifícios e transdutores" %}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-line-chart sr-icons"></i>
              <h3><a href="{% url 'report:generate_graph' %}">{% trans "Gráficos" %}</a></h3>
              <p>{% trans "Gráficos para os aparelhos de medição" %}</p>
            </div>
          </div>

          {% if user.is_superuser %}
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-users sr-icons"></i>
              <h3><a href="{% url 'users:index' %}">{% trans "Usuários" %}</a></h3>
              <p>{% trans "Gerência de usuários e controle de permissões" %}</p>
            </div>
          </div>
          {% endif %}

          {% if perms.users.see_logging %}
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-history sr-icons"></i>
              <h3><a href="{% url 'users:logging_list' %}">{% trans "Log do Sistema" %}</a></h3>
              <p>{% trans "Registro de informações importantes na aplicação" %}</p>
            </div>
          </div>
          {% endif %}

        </div>
      </div>
      <hr>
    </article>
  </div>
</div>
{% endblock %}